.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.1vw;
}

@media (max-width: 500px) {
    .card-list {
        display: inline;
    }
}