.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.1vw;
}

@media (max-width: 1300px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 950px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .card-list {
        display: inline;
    }
}